<aside class="lout-sidebar">
	<h1 class="mod-logo"><img src="images/ace_logo.png" alt="ACE 株式会社エース"></h1>
	<ul class="lout-sidebar-navi">
		<li data-menuanchor="js-mainvisual"><a href="#js-mainvisual">トップ</a></li>
		<li data-menuanchor="js-idea"><a href="#js-idea">企業理念</a></li>
		<li data-menuanchor="js-overview"><a href="#js-overview">会社概要</a></li>
		<li data-menuanchor="js-form"><a href="#js-form">お問い合わせ</a></li>
		<li data-menuanchor="js-privacy"><a href="#js-privacy">プライバシーポリシー</a></li>
	</ul>
	<address class="copyright">
		<p>&copy;2016 株式会社エース All Rights Reserved.</p>
	</address>
</aside>