<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>株式会社エース</title>

	<!-- ↓file combine config-->
	<!-- build:css css/common.css -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="js/fullPage/jquery.fullPage.css">
	<!-- endbuild -->

</head>
<body>

<!--↓read-temlatefile-->
<% include _sidebar %>

<main class="lout-main">

	<article id="fullpage" class="lout-base">
		<section class="lout-mainvisual section" data-anchor="js-mainvisual">
			<h1 class="mod-main-logo"><img src="images/mainvisual_logo.png" alt=""></h1>
		</section>
		<section class="lout-idea lout-base-sec section" data-anchor="js-idea">
			<div class="mod-content">
				<h2 class="mod-content-h2">企業理念</h2>
				<h3 class="mod-content-h3">「日進月歩」<br>
				絶え間なく、進歩・発展・知識技術の向上</h3>
				<p>ご挨拶<br>
				私どもは平成8年創業後、平成18年に千葉県へ拠点を移し地域に<br>根付いた電気工事会社として事業を展開してまいりました。</p>

				<p>近年、家電業界の急速な進歩に比例して、高齢化社会の高まりが<br>目立つようになり、工事業界の対応も年々変わりつつあります。<br>快適かつ安心して生活をしていくには、現代の家電製品をいかに<br>
				効率よく使いこなすかで決まると考えております。</p>

				<p>今後とも、お客様に心から満足して頂ける様、誠意と真心を持って<br>
				作業に取り組む事で信頼を形成し、それらを維持できるよう社員一同取り組んでまいります。</p>
				<p class="mod-right mod-idea-finish">代表取締役　　真野　由行</p>
			</div>
		</section>
		<section class="lout-overview lout-base-sec section" data-anchor="js-overview">
			<div class="mod-content">
				<h2 class="mod-content-h2">会社概要・沿革</h2>
				<div class="mod-content-left">
					<dl class="mod-overview-dl">
						<dt>社名</dt>
						<dd>株式会社エース</dd>
						<dt>代表者</dt>
						<dd>真野 由行</dd>
						<dt>本社</dt>
						<dd>〒270-0032　千葉県松戸市新松戸北1-10-2<br>
						<img src="images/map.png" alt=""><br>
						TEL:047-309-3063(代表)<br>
						FAX:047-309-3065
						</dd>
						<dt>創業</dt>
						<dd>平成  8年 1月</dd>
						<dt>設立</dt>
						<dd>平成19年 9月</dd>
						<dt>資本金</dt>
						<dd>1,000万円</dd>
						<dt>業種</dt>
						<dd>電気工事業</dd>
						<dt>電気工事登録</dt>
						<dd>千葉県知事登録 第200046号</dd>
						<dt>主な事業内容</dt>
						<dd>
							家庭用・業務用エアコンの設置・移設工事<br>
							家庭用エアコンクリーニング<br>
							LED照明等各種家電製品の設置・移設工事<br>
							EV充電設備工事<br>
							電気工事全般<br>
							前各号に付帯する一切の事業
						</dd>
						<dt>社員数</dt>
						<dd>18名</dd>
						<dt>契約社員</dt>
						<dd>20名</dd>
						<dt>協力会社</dt>
						<dd>30社余り</dd>
					</dl>
				</div>
				<div class="mod-content-right">
					<dl class="mod-overview-dl">
						<dt>平成8年</dt>
						<dd>大阪市西区に事務所開設<br>
						自営業 真野設備として開業<br>
						引越業務に関する電気工事業務を併設</dd>
						<dt>平成13年</dt>
						<dd>東京都府中市に事務所移転、自営業エースとして開業</dd>
						<dt>平成14年</dt>
						<dd>建設・改装工事に伴う、電気・空調業務を併設</dd>
						<dt>平成15年</dt>
						<dd>独自の教育方法を取り入れ、自社作業スタッフを育成</dd>
						<dt>平成18年</dt>
						<dd>千葉県松戸市に事務所移転</dd>
						<dt>平成19年</dt>
						<dd>
							株式会社エースとして法人組織に改組(9月1日)
							電気工事登録業者として千葉県知事登録
							第200046号を取得
						</dd>
						<dt>平成26年</dt>
						<dd>EV充電設備工事を開始</dd>
					</dl>
					<div class="mod-overview-pdf">
						<img src="images/pdficon_small.png" alt="">
						<a href="company.pdf">会社案内PDFをダウンロード</a>
					</div>
				</div>
			</div>
		</section>
		<section class="lout-form lout-base-sec section" data-anchor="js-form">
			<div class="mod-content">
				<h2 class="mod-content-h2">お問い合わせ</h2>
				<form action="#" class="mod-entry-form" method="post">
					<dl class="mod-form-dl">
						<dt>お名前：</dt>
						<dd><input type="text" value="" id="contact-name" name="お名前"></dd>
						<dt>ふりがな：</dt>
						<dd><input type="text" value="" id="contact-furigana" name="ふりがな"></dd>
						<dt>会社名：</dt>
						<dd><input type="text" value="" id="contact-company" name="会社名"></dd>
						<dt>電話番号：</dt>
						<dd><input type="text" value="" id="contact-tel" name="電話番号"></dd>
						<dt>メールアドレス：</dt>
						<dd><input type="text" value="" id="contact-mail" name="メールアドレス"></dd>
						<dt>お問い合せ内容：</dt>
						<dd><textarea name="お問い合せ内容" id="contact-textarea" cols="30" rows="10"></textarea></dd>
					</dl>
					<div class="mod-entry-form-submit"><button type="submit">送信</button></div>
				</form>
			</div>
		</section>
		<section class="lout-privacy lout-base-sec section" data-anchor="js-privacy">
			<div class="mod-content">
				<h2 class="mod-content-h2">個人情報の取扱いに関して</h2>
				<div class="mod-content-privacy-left">
					<h3 class="mod-content-h3">お客様に安心していただける運営スタイル</h3>
					<p>受注から工事完了、そしてお客様に対するアフターサービスまで当社独自の
					システムを採用し、お客様に安心していただけるスピーディで正確な運営を
					おこなっております。
					当社独自のサーバーも取り入れ、個人情報の取扱いについても万全の
					セキュリティー対策を行っております。</p>
					<h3 class="mod-content-h3">個人情報保護方針：</h3>
					<p>株式会社エースはエアコン及びアンテナ工事等各種家電工事の施工にあたり、
					お客様・取引業者様の個人情報を取得いたします。これらの個人情報を適切
					に保護することは、当社の社会的責任です。
					そのため当社は、個人情報保護マネジメントシステムを遵守し、個人情報を
					正確かつ誠実に取扱い、透明性の高い企業活動を遂行します。</p>
				</div>
				<div class="mod-content-privacy-right"><img src="images/light_obj.png" alt=""></div>
			</div>
		</section>
	</article>

</main>

<!--↓read-temlatefile-->
<% include _foot %>

</body>
</html>
