html {
	font-size: 62.5%;
}
body {
	overflow-x: hidden;
}

.lout-main {
	display: block;
	overflow-x: hidden;
	.lout-base {
		width: 100%;
		height: 100%;
		top: 0;
		display: block;
	}
	.lout-base-sec {
		display: block;
		line-height: 1.6;
		box-sizing: border-box;
	}
	.lout-mainvisual {
		background: url(../images/mainvisual_bg.jpg) no-repeat;
		background-size: 100% 100%;
		font-size: 1.4rem;
		left: $sidewidth;
		box-sizing: border-box;
		position: relative;
	}
	.lout-idea {
		background: url(../images/idea_bg.jpg) no-repeat;
		background-size: cover;
		color: #fff;
		.lout-idea-paragraph {
			padding: 0 200px;
		}
	}
	.lout-overview {
		background: url(../images/overview_bg.jpg) no-repeat;
		background-size: cover;
		color: #fff;
	}
	.lout-form {
		background: url(../images/form_bg.jpg) no-repeat;
		background-size: cover;
		color: #fff;
	}
	.lout-privacy {
		background: $baseblue;
		background-size: cover;
		color: #fff;
	}
}//.lout-main